
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Kaushan+Script&family=Raleway:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme{
  --deepblue-500:#023047;
  --default-font-family:"Jaro";
  --lightyellow-500:#FFB703;
  --grey-500:#D9D9D9;
  --deeporange-500:#FB8500;
}


.bg-deepblue{
  background-color: var(--deepblue-500);
}
.bg-yellow{
  background-color: var(--lightyellow-500);
}
.bg-grey{
  background-color: var(--grey-500);
}
.color-orange{
  color:var(--deeporange-500)
}
.font-jaro{
  font-family: var(--default-font-family);
}

@layer utilities{
  .Header-container{
    @apply  text-white h-51 sm:h-100 md:h-120  flex flex-col font-sans 
  }
  .signup-container{
    @apply flex justify-items-start
  }
  .signup-btn{
    @apply flex justify-end mt-2 mr-3 hover:cursor-pointer p-2  text-[10px] sm:text-[20px] font-semibold transition transform duration-200 ease-in-out hover:bg-blue-500 hover:text-white
  }
  .signout-btn{
    @apply flex justify-end mt-2 mr-3 hover:cursor-pointer  p-2  text-[10px] sm:text-[20px] font-semibold transition transform duration-200 ease-in-out hover:bg-blue-500 hover:text-white} 

   .create-btn{
      @apply  hover:cursor-pointer p-2 mt-2 text-[10px] sm:text-[20px] ml-2 font-semibold transition transform duration-200 ease-in-out hover:bg-blue-500 hover:text-white
    }

  .page-title-container{
    @apply  flex  justify-center mt-5 sm:mt-10 hover:cursor-not-allowed
    font-sans
  }
  .page-title{
    @apply    text-7xl sm:text-9xl mt-10 hover:cursor-pointer  font-extrabold
  }

  .Username{
    @apply  text-[13px] sm:text-2xl font-semibold 
  }
  .search-input{
    @apply bg-white h-6  sm:h-10 w-35 sm:w-50  text-blue-950 text-[10px] sm:text-lg pl-3 font-sans font-semibold lg:w-70
  }
  .search-input::placeholder{
    @apply text-gray-500 text-center
  }
  .search-form{
    @apply flex lg:mb-4
  }
  .search-btn{
    @apply bg-blue-900 text-white sm:h-10 sm:w-12 
  }
 .cards-grid{
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2
 }
 .Adoption-card{
  @apply flex flex-row bg-linear-to-t from-sky-400 to-indigo-400  text-white h-50 w-100 justify-between p-2 transition transform duration-200 ease-in-out hover:bg-blue-200 
 }
 .Dog-image{
  @apply h-50 w-60 rounded-2xl mb-2 sm:h-60 sm:w-70
 }
 .card-image-container{
  @apply flex justify-center 
 }
 .Card-dog-detail{
  @apply flex justify-center flex-col items-center
 }
 .Card-Details-btn{
  @apply text-white bg-blue-950 text-4xl h-15 w-40 sm:w-60 rounded-2xl mb-5 hover:bg-[#FB8500] }
 
  .Dog-image-container{
    @apply  flex justify-center h-60 w-100 sm:h-100 sm:w-150 items-center rounded-2xl  }
    .Post-header-container{
      @apply text-white h-50 sm:h-80 flex flex-col justify-center items-center  }
  .Create-post{
    @apply flex justify-center flex-col font-sans
  }
  .Create-post-label{
    @apply sm:text-3xl text-[20px]
  }
  .Create-post-input{
    @apply text-2xl  text-blue-950 h-10 w-70 sm:h-15 sm:w-150 
  }
  .Create-post-description{
    @apply text-2xl  text-blue-950 h-25 w-70 sm:h-50 sm:w-150 
  }
  .Create-element{
    @apply ml-5 mt-5 p-3 mb-3 sm:mb-5
  }

  .Post-submit-btn{
    @apply  h-10 w-50 sm:h-15 sm:w-100 hover:bg-blue-300 
  }

  .Folder-container{
    @apply  flex justify-center mb-5 flex-col items-center md:flex-row
  }
  .folder1{
    @apply border-gray-400 transition delay-150 duration-300 ease-in-out hover:border-[#FB8500] border-solid border-2 sm:w-150 p-5 m-2
  }
  .footer-container{
    @apply bg-[#023047] h-20 text-white flex flex-row items-center justify-evenly
  } 
 .social-container{
   @apply flex justify-between w-30 
 }
}


:root {
  --radius:0.625rem;
  --background:oklch(1 0 0);
  --foreground:oklch(0.129 0.042 264.695);
  --card:oklch(1 0 0);
  --card-foreground:oklch(0.129 0.042 264.695);
  --popover:oklch(1 0 0);
  --popover-foreground:oklch(0.129 0.042 264.695);
  --primary:oklch(0.208 0.042 265.755);
  --primary-foreground:oklch(0.984 0.003 247.858);
  --secondary:oklch(0.968 0.007 247.896);
  --secondary-foreground:oklch(0.208 0.042 265.755);
  --muted:oklch(0.968 0.007 247.896);
  --muted-foreground:oklch(0.554 0.046 257.417);
  --accent:oklch(0.968 0.007 247.896);
  --accent-foreground:oklch(0.208 0.042 265.755);
  --destructive:oklch(0.577 0.245 27.325);
  --border:oklch(0.929 0.013 255.508);
  --input:oklch(0.929 0.013 255.508);
  --ring:oklch(0.704 0.04 256.788);
  --chart-1:oklch(0.646 0.222 41.116);
  --chart-2:oklch(0.6 0.118 184.704);
  --chart-3:oklch(0.398 0.07 227.392);
  --chart-4:oklch(0.828 0.189 84.429);
  --chart-5:oklch(0.769 0.188 70.08);
  --sidebar:oklch(0.984 0.003 247.858);
  --sidebar-foreground:oklch(0.129 0.042 264.695);
  --sidebar-primary:oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground:oklch(0.984 0.003 247.858);
  --sidebar-accent:oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground:oklch(0.208 0.042 265.755);
  --sidebar-border:oklch(0.929 0.013 255.508);
  --sidebar-ring:oklch(0.704 0.04 256.788);
}

.dark {
  --background:oklch(0.129 0.042 264.695);
  --foreground:oklch(0.984 0.003 247.858);
  --card:oklch(0.208 0.042 265.755);
  --card-foreground:oklch(0.984 0.003 247.858);
  --popover:oklch(0.208 0.042 265.755);
  --popover-foreground:oklch(0.984 0.003 247.858);
  --primary:oklch(0.929 0.013 255.508);
  --primary-foreground:oklch(0.208 0.042 265.755);
  --secondary:oklch(0.279 0.041 260.031);
  --secondary-foreground:oklch(0.984 0.003 247.858);
  --muted:oklch(0.279 0.041 260.031);
  --muted-foreground:oklch(0.704 0.04 256.788);
  --accent:oklch(0.279 0.041 260.031);
  --accent-foreground:oklch(0.984 0.003 247.858);
  --destructive:oklch(0.704 0.191 22.216);
  --border:oklch(1 0 0 / 10%);
  --input:oklch(1 0 0 / 15%);
  --ring:oklch(0.551 0.027 264.364);
  --chart-1:oklch(0.488 0.243 264.376);
  --chart-2:oklch(0.696 0.17 162.48);
  --chart-3:oklch(0.769 0.188 70.08);
  --chart-4:oklch(0.627 0.265 303.9);
  --chart-5:oklch(0.645 0.246 16.439);
  --sidebar:oklch(0.208 0.042 265.755);
  --sidebar-foreground:oklch(0.984 0.003 247.858);
  --sidebar-primary:oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground:oklch(0.984 0.003 247.858);
  --sidebar-accent:oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground:oklch(0.984 0.003 247.858);
  --sidebar-border:oklch(1 0 0 / 10%);
  --sidebar-ring:oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm:calc(var(--radius) - 4px);
  --radius-md:calc(var(--radius) - 2px);
  --radius-lg:var(--radius);
  --radius-xl:calc(var(--radius) + 4px);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-card-foreground:var(--card-foreground);
  --color-popover:var(--popover);
  --color-popover-foreground:var(--popover-foreground);
  --color-primary:var(--primary);
  --color-primary-foreground:var(--primary-foreground);
  --color-secondary:var(--secondary);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-muted:var(--muted);
  --color-muted-foreground:var(--muted-foreground);
  --color-accent:var(--accent);
  --color-accent-foreground:var(--accent-foreground);
  --color-destructive:var(--destructive);
  --color-border:var(--border);
  --color-input:var(--input);
  --color-ring:var(--ring);
  --color-chart-1:var(--chart-1);
  --color-chart-2:var(--chart-2);
  --color-chart-3:var(--chart-3);
  --color-chart-4:var(--chart-4);
  --color-chart-5:var(--chart-5);
  --color-sidebar:var(--sidebar);
  --color-sidebar-foreground:var(--sidebar-foreground);
  --color-sidebar-primary:var(--sidebar-primary);
  --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
  --color-sidebar-accent:var(--sidebar-accent);
  --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
  --color-sidebar-border:var(--sidebar-border);
  --color-sidebar-ring:var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}